.drawerBody {
  padding: 1.5rem 3rem;
  margin-bottom: 3rem;
}

.aboutText {
  width: 70% !important;
  text-align: justify !important;
}

@media (max-width: 568px) {
  .aboutText {
    text-align: left !important;
  }
}
