.uploadArea {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: #edf2f7;
  border-radius: 8px;

  /* min-width: 30rem; */
  /* min-height: 15rem; */

  padding: 1.5rem 10rem;

  transition: border 0.2s ease-in-out;
}

.uploadArea img {
  margin-bottom: 2rem;
}

.uploadArea:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .uploadArea {
    max-width: 75%;
    padding: 1.5rem 2.75rem;
    font-size: 14px;
  }
}
